<a href="https://colab.research.google.com/github/ssseungjin/BP_10_Ch4/blob/main/BP_10_Ch4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'나는 ' + str(12) + '개의 사과를 먹었다.'
print('나는 ' + '12' + '개의 사과를 먹었다.')

나는 12개의 사과를 먹었다.

In [2]:
"apple" + "grape"

"apple" * 3

'appleappleapple'

In [4]:
text=input("문자열을 입력하시오 : ")
print(text[0:2]+text[-2:])

문자열을 입력하시오 : python
pyon

In [5]:
text=input("문자열을 입력하시오 : ")
text2="하는 중"
print(text+text2)

문자열을 입력하시오 : 청소
청소하는 중

In [6]:
simbol =input("기호를 입력하세요 : ")
text =input("문자열을 입력하시오 : ")
 
print(simbol[:1]+text+simbol[-1:])

기호를 입력하세요 : []
문자열을 입력하시오 : python
[python]

In [7]:
listNum =["1", "2", "3", "4"]
sum= int(listNum[0]) + int(listNum[1]) + int(listNum[2]) + int(listNum[3])
 
print("리스트 = ", listNum)
print("리스트 숫자들의 합 = ", sum)

리스트 =  ['1', '2', '3', '4']
리스트 숫자들의 합 =  10